.MessagesChat{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding-inline: 1rem;
}

.messagesDay{
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.8rem;
  width: 100%;
}

.date{
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: .8rem;
}

.message{
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.message > p{
  border-radius: 8px;
  padding: 1rem;
  font-size: .8rem;
  transition: 0.3s;
  opacity: 0;
  animation: slide .3s forwards;
}

@keyframes slide {
  to {
    opacity: 1;
    transform: initial;
  }
}


.message.right {
  align-self: flex-end;
  text-align: end;
}

.message.right > p{
  background: #07847E;
  border-bottom-right-radius: 0px;
  text-align: start;
  transform: translateX(100%);
}

.message.left{
  align-self: flex-start;
  text-align: start;
}
.message.left > p{
  background: #633BBC;
  border-top-left-radius: 0px;
  transform: translateX(-100%);
}



.messageDetails{
  font-size: .8rem;
}